body{
    background: linear-gradient(black, rgb(136, 0, 0));
    color: aliceblue;
}
h1{
    text-align: center;
    text-shadow: 4px 2px 4px red;
    text-decoration: underline;
    font-size: 60px;
}

img{
    width: 100%;
}
#Ferrarilogo{
    width: auto;
    display: flex;
    height: 100px; 
    box-shadow: 0 0 30px 6px red;
    margin: auto;
}
a{
    color: #ff0000;
    text-align: center;
    display: block;
    text-decoration: none;

}

.listaaa {
    text-align: center;
    margin: 3% 0 ;
    padding: 0;
    list-style-type: none;
    font-size:25px;
}

.ultext{
    color: rgb(189, 11, 11);
    text-decoration: none;
}

p {
    text-align: center;
    font-size: 25px;
    margin: 3% 10%;
}

h2{
    text-align: center;
    font-size: 40px;
}
h4{
    text-align: center;
    font-size: 30px;
    margin: 3% 15%;
}

