body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
    background-color: #222;
}

h2{
    text-align: center;
    margin:0;
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 22px;
    padding: 10px;
}

form{
    background-color: transparent;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 55px #fff2;
    margin-top: 50px;
    border-radius: 8px;

}
input{
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 6px 12px;
    border: 1px solid #999;
    margin: 20px;
    box-shadow: 0 0 15px #0001;
    background-color: transparent;
    border-radius: 4px;
    color: #eee;
}
.formulario-div{
    padding: 10px 20px;
}



#formulario-button{
    display: flex;
    justify-content: center;
    
}

button:hover {
    background-color: #ccc;
    box-shadow: 1px 1px 10px #fff;

    
}

#message {
    margin-top: 20px;
    color: red;
}

#buttoningresar{
    cursor: pointer;
}